@charset "utf-8";

* base
 * -------------------------------- */
html {
  font-size: 62.5%;
}
body {
	background-image: url(../photo/background.png);
	text-align: center;
	font-size: 1.4rem;
	font-family: Raleway, Meiryo,  sans-serif;
	color: #FFFFFF;
}
*, *::before, *::after {
  box-sizing: border-box;
}
/*----------------------------
       基本設定
   --------------------------*/
.site-title-hub{
	font-size: 18pt;
	color: #C1E1ED;
}

.site-title{
	font-size:100pt;
	color:#76C7C6;
}

.title-corners{
	margin-bottom:150px;
	font-size:48pt;
	color:#76C7C6
}

.title-rounded-corners{
	margin-top:30px;
	margin-bottom:150px;
	font-size:48pt;
	color:#063749;
}

.copyright-notice{
	font-size:18pt;
}

.product-frame{
	margin-right: 86.5px;
	margin-left: 86.5px;
}

.trademark{
	float: left;
}


/*---------------------------- 
       歡迎
   ----------------------------*/
.welcome{
	margin-top: 167px;
	margin-bottom: 140px;
.botton{
        margin-left: 200px;
        margin-right: 200px;
}
}
/*----------------------------
       關於
   ---------------------------*/
.about{
	background-color: #bcdde9;
	border-radius: 10px;
	margin-right: 5px;
	margin-left: 5px;
